
# Eclipse
.project
.classpath
.settings/


# IntelliJ
.idea
*.ipr
*.iml
*.iws

# Visual Studio Code
.vscode

# OSX
.DS_Store

# Vim
*.swp
*.swo

# patch
*.orig
*.rej


environments/kafka/data/
environments/all/data/
environments/rabbitma/data/
# Maven
backend/target/
backend/src/main/resources/META-INF/resources/static/js/
backend/pom.xml.tag
backend/pom.xml.releaseBackup
backend/pom.xml.versionsBackup
release.properties
frontend/node_modules/
frontend/dist/
frontend/target/
frontend/node/
